Binaries/
!Source/ThirdParty/**/Binaries/
!Source/ThirdParty/**/Binaries/**
Source/ThirdParty/**/Binaries/Android/
Source/ThirdParty/**/Binaries/Android/**
Intermediate/
DerivedDataCache/
Saved/
.vscode/
.vs/
*.sln
*.suo
*.profraw
